.Quiz-fondo{
    background-image: url(../../image/fondo.jpg);
    height: 100vh;
}
.Quiz-header{
    background-color: rgba(0, 45, 225, 70%);
    padding: 1em;
    box-shadow: 0 8px 30px 1px black;
}
.Equis{
    width: 2.5em;
    box-shadow: 0 8px 30px 5px black;
}
.Fondo-atras{
    margin:2em 5em;
    background-color: rgba(42, 0,255, 75%);
    padding: 1em;
}
.Fondo-adelante{
    background-color: rgba(224,224,224,100%);
    border:rgb(106, 106, 136) solid;
    border-radius: 1%;
    padding-top: 3em;
}
.logro-container{
    display: flex;
    background-color: lightblue;
    justify-content: space-evenly;
    padding-bottom: 1em;
    width: 80%;
    margin:2em auto;
    box-shadow: 3px 1px 16px 2px black;
}
