.header {
  background-image: linear-gradient(to bottom,rgba(124, 124, 124, 0.842),white 15%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 1px 16px 2px rgba(0, 0, 0, 0.747); 
  width: 100vw;
}
.header img {
  width: 50px;
  line-height: 20px;
}
.contenedor-logo {
  padding-left: 50px;
  display: flex;
  align-items: center;
}
.header h1 {
  padding-right: 100px;
  color: rgb(9, 0, 255);
  font-weight: 800;
}
/* @media (min-width: 768px) and (max-width: 1199px){
  .header{
    width: 100vw;
  }
}
@media (min-width:576px) and (max-width: 767px){
  .header{
    width: 220%;
  }
  .header h1{
    font-size: 3em;
  }
  .header img{
    width: 4em
    
  }
}
@media (min-width: 481px) and (max-width: 575px){
  .header{
    width: 220vw;
    height: 15vh;
  }
  .header h1{
    font-size: 4em;
  }
  .header img{
    width: 4em
  }
} */