/* .container {
  width: 8rem;
  height: 7.8rem;
  margin: 0.31em;
} */
/* .primera {
  padding: 1%;
  background-color: #4204ec;
  color: #fff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 1em 0em;
  border: solid 1px #fffcf9;
 position: absolute;
 left: 300px;
}
.segunda {
  padding: 1%;
  background-color: #02dd5d;
  color: #fff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 1em 0em;
  border: solid 1px #fffcf9;
}

.tercera {
  padding: 1%;
  background-color: #6106f3;
  color: #fff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: left auto;
  border: solid 1px #fffcf9;
  
  margin: 1em 0em;
  
}
.cuarta {
  padding: 1%;
  background-color: #800202;
  color: #fff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 1em 0em;
  border: solid 1px #fffcf9;
 
} */

/* .image-container img {
  width: 5em;
  margin: 1em 0 0 2em;
  text-align: center;
} */
p {
  text-align: center;
}

